apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .ConnectionName }}-octant-access
  namespace: {{ .Namespace }}
  labels:
    app: {{ .ConnectionName }}
    app.kubernetes.io/instance: {{ .ConnectionName }}
  {{- if .IsArgoSideload }}
  annotations:
    argocd.argoproj.io/tracking-id: {{ .ConnectionName }}:rbac.authorization.k8s.io/v1:mdai/{{ .ConnectionName }}-octant-access
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
rules:
  - apiGroups: [ "" ]
    resources: [ "secrets" ]
    verbs: [ "get" ]
    resourceNames: ["greptimedb-users-auth"]
  - apiGroups: [ "apps" ]
    resources: [ "deployments" ]
    verbs: [ "get" ]
    resourceNames: ["{{ .ConnectionName }}-log-sampling-collector", "{{ .ConnectionName }}-trace-sampling-collector"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .ConnectionName }}-octant-access-binding
  namespace: {{ .Namespace }}
  labels:
    app: {{ .ConnectionName }}
    app.kubernetes.io/instance: {{ .ConnectionName }}
  {{- if .IsArgoSideload }}
  annotations:
    argocd.argoproj.io/tracking-id: {{ .ConnectionName }}:rbac.authorization.k8s.io/v1:mdai/{{ .ConnectionName }}-octant-access-binding
  {{- end }}
subjects:
  - kind: ServiceAccount
    name: {{ .ServiceAccount }}
    namespace: {{ .CurrentNamespace }}
roleRef:
  kind: Role
  name: {{ .ConnectionName }}-octant-access
  apiGroup: ""