apiVersion: hub.mydecisive.ai/v1
kind: MdaiHub
metadata:
  name: {{ .ConnectionName }}
  namespace: {{ .Namespace }}
  labels:
    app: {{ .ConnectionName }}
    app.kubernetes.io/instance: {{ .ConnectionName }}
  {{- if .IsArgoSideload }}
  annotations:
    argocd.argoproj.io/tracking-id: {{ .ConnectionName }}:hub.mydecisive.ai/v1:mdai/{{ .ConnectionName }}
  {{- end }}
spec:
  variables:
    - key: logs_ratio_number
      type: manual
      dataType: string
      default: "{{ .DefaultLogRatio }}"
      serializeAs:
        - name: "LOGS_RATIO_NUMBER"
    - key: logs_persist_errors
      type: manual
      dataType: boolean
      default: {{ .DefaultLogIncludeErr }}
      serializeAs:
        - name: "LOGS_PERSIST_ERRORS"
    - key: traces_ratio_number
      type: manual
      dataType: string
      default: "{{ .DefaultTraceRatio }}"
      serializeAs:
        - name: "TRACES_RATIO_NUMBER"
    - key: traces_persist_errors
      type: manual
      dataType: boolean
      default: {{ .DefaultTraceIncludeErr }}
      serializeAs:
        - name: "TRACES_PERSIST_ERRORS"

