apiVersion: hub.mydecisive.ai/v1
kind: MdaiHub
metadata:
  name: {{ .AppName }}
  namespace: {{ .Namespace }}
  labels:
    app: {{ .AppName }}
    app.kubernetes.io/instance: {{ .AppName }}
  {{- if .IsArgoSideload }}
  annotations:
    argocd.argoproj.io/tracking-id: {{ .AppName }}:hub.mydecisive.ai/v1:mdai/{{ .AppName }}
  {{- end }}
spec:
  variables:
    - key: logs_ratio_number
      type: manual
      dataType: string
      serializeAs:
        - name: "LOGS_RATIO_NUMBER"
    - key: logs_persist_errors
      type: manual
      dataType: boolean
      serializeAs:
        - name: "LOGS_PERSIST_ERRORS"
    - key: traces_ratio_number
      type: manual
      dataType: string
      serializeAs:
        - name: "TRACES_RATIO_NUMBER"
    - key: traces_persist_errors
      type: manual
      dataType: boolean
      serializeAs:
        - name: "TRACES_PERSIST_ERRORS"

