apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mdai
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  sources:
  - repoURL: ghcr.io/mydecisive/charts
    chart: mdai-hub
    targetRevision: {{ .MdaiVersion }}
    helm:
      valueFiles:
      - $values/argocd/mdai/chart/values.yaml
      - $values/argocd/mdai/chart/graptimedb-values.yaml
      - $values/argocd/mdai/chart/tracealyzer-values.yaml
  destination:
    name: "in-cluster"
    namespace: {{ .Namespace }}
  syncPolicy:
    automated:
      enabled: true
      prune: true
    syncOptions:
    - PruneLast=true
    - CreateNamespace=true
    - ServerSideApply=true
    retry:
      limit: 2
  ignoreDifferences:
    - group: apps
      kind: StatefulSet
      jsonPointers:
        - /spec/volumeClaimTemplates
    - kind: ConfigMap
      jsonPointers:
        - /data/DEPLOY_TIMESTAMP