apiVersion: hub.mydecisive.ai/v1
kind: MdaiCollector
metadata:
  name: {{ .AppName }}
  labels:
    app: {{ .AppName }}
    app.kubernetes.io/instance: {{ .AppName }}
  {{- if .IsArgoSideload }}
  annotations:
    argocd.argoproj.io/tracking-id: {{ .AppName }}:hub.mydecisive.ai/v1:mdai/{{ .AppName }}-mdai-collector
  {{- end }}
spec: