apiVersion: hub.mydecisive.ai/v1
kind: MdaiObserver
metadata:
  name: {{ .AppName }}
  namespace: {{ .Namespace }}
  labels:
    app: {{ .AppName }}
    app.kubernetes.io/instance: {{ .AppName }}
  {{- if .IsArgoSideload }}
  annotations:
    argocd.argoproj.io/tracking-id: {{ .AppName }}:hub.mydecisive.ai/v1:mdai/{{ .AppName }}-observer
  {{- end }}
spec:
  observers:
    - name: observer-in
      labelResourceAttributes:
        - traceID
      countMetricName: items_received_by_service_total
      bytesMetricName: bytes_received_by_service_total
      filter:
        error_mode: ignore
        logs:
          log_record:
            - 'resource.attributes["observer_direction"] != "received"'
    - name: observer-out
      labelResourceAttributes:
        - traceID
      countMetricName: items_sent_by_service_total
      bytesMetricName: bytes_sent_by_service_total
      filter:
        error_mode: ignore
        logs:
          log_record:
            - 'resource.attributes["observer_direction"] != "exported"'

  observerResource:
    image: ghcr.io/mydecisive/observer-collector:0.1.6
    ownLogsOtlpEndpoint: {{ .AppName }}-mdai-collector-service.{{ .Namespace }}.svc.cluster.local:4318
    replicas: 2
    resources:
      limits:
        memory: "512Mi"
        cpu: "200m"
      requests:
        memory: "128Mi"
        cpu: "100m"