apiVersion: hub.mydecisive.ai/v1
kind: MdaiObserver
metadata:
  name: {{ .AppName }}
  namespace: {{ .Namespace }}
  labels:
    app: {{ .AppName }}
    app.kubernetes.io/instance: {{ .AppName }}
  {{- if .IsArgoSideload }}
  annotations:
    argocd.argoproj.io/tracking-id: {{ .AppName }}:hub.mydecisive.ai/v1:mdai/{{ .AppName }}-observer
  {{- end }}
spec:
  observers:
    - name: observer-in
      labelResourceAttributes:
        - service
      countMetricName: items_received_by_service_total
      bytesMetricName: bytes_received_by_service_total
      filter:
        error_mode: ignore
        logs:
          log_record:
            - 'resource.attributes["observer_direction"] != "received"'
    - name: observer-out
      labelResourceAttributes:
        - service
      countMetricName: items_sent_by_service_total
      bytesMetricName: bytes_sent_by_service_total
      filter:
        error_mode: ignore
        logs:
          log_record:
            - 'resource.attributes["observer_direction"] != "exported"'

  observerResource:
    image: public.ecr.aws/decisiveai/observer-collector:0.1.6
    replicas: 1
    resources:
      requests:
        memory: "100Mi"
        cpu: "100m"