apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .ConnectionName }}-integration-secret-role
  namespace: {{ .Namespace }}
  labels:
    app: {{ .ConnectionName }}
    app.kubernetes.io/instance: {{ .ConnectionName }}
rules:
  - apiGroups: [ "" ]
    resources: [ "secrets" ]
    verbs: [ "get" ]
    resourceNames: ["{{ .ConnectionName }}-integration-secret"]