apiVersion: v1
kind: Secret
metadata:
  name: {{ .AppName }}-integration-secret
  namespace: {{ .Namespace }}
  labels:
    app: {{ .AppName }}-integration-secret
    app.kubernetes.io/instance: {{ .AppName }}-integration-secret
  {{- if .IsArgoSideload }}
  annotations:
    argocd.argoproj.io/tracking-id: {{ .AppName }}:/Secret:mdai/{{ .AppName }}-integration-secret
  {{- end }}
type: Opaque
stringData:
  {{- if .DatadogIntegrationData }}
  api-key: {{ .DatadogIntegrationData.APIKey }}
  site-url: {{ .DatadogIntegrationData.DDUrl }}
  {{- end }}