apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .ConnectionName }}-integration-secret-role-binding
  namespace: {{ .Namespace }}
  labels:
    app: {{ .ConnectionName }}
    app.kubernetes.io/instance: {{ .ConnectionName }}
subjects:
  - kind: ServiceAccount
    name: {{ .ServiceAccount }}
    namespace: {{ .CurrentNamespace }}
roleRef:
  kind: Role
  name: {{ .ConnectionName }}-integration-secret-role
  apiGroup: ""