apiVersion: hub.mydecisive.ai/v1
kind: TelemetryValidation
metadata:
  name: {{ .ConnectionName }}-telemetry-validation
  namespace: {{ .Namespace }}
spec:
  runID: {{ .ValidatorRunID }}
  collectorRef:
    name: {{ .ConnectionName }}-sampling-lb