apiVersion: hub.mydecisive.ai/v1
kind: TelemetryValidation
metadata:
  name: {{ .ConnectionName }}-telemetry-validation
  namespace: {{ .Namespace }}
spec:
  validator:
    image: ghcr.io/mydecisive/mdai-fidelity-validator:{{ .ValidatorVersion }}
  runID: {{ .ValidatorRunID }}
  collectorRef:
    name: {{ .ConnectionName }}-sampling-lb