apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ .Name }}"
  namespace: "{{ .ArgoCDNamespace }}"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app: "{{ .Name }}"
spec:
  project: default
  source:
    repoURL: https://github.com/MyDecisive/octant.git
    targetRevision: main
    path: ./argo-sandbox
    kustomize:
      namePrefix: {{ .Name }}-
  destination:
    name: in-cluster
    namespace: "{{ .Namespace }}"
  syncPolicy:
    automated:
      # required so that octant can manage manifests via sync
      enabled: false
      prune: true
      selfHeal: false
