apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .Name }}-validation
  namespace: {{ .ArgoCDNamespace }}
  finalizers:
    - resources-finalizer.{{ .ArgoCDNamespace }}.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/MyDecisive/octant-sandbox.git
    targetRevision: main
    path: .
    kustomize:
      namePrefix: {{ .Name }}-validation-
  destination:
    name: in-cluster
    namespace: {{ .Namespace }}
  syncPolicy:
    automated:
      # required so that octant can manage manifests via sync
      enabled: false
      prune: true
      selfHeal: false