apiVersion: hub.mydecisive.ai/v1
kind: MdaiObserver
metadata:
  name: "{{ .Name }}"
  namespace: "{{ .Namespace }}"
  labels:
    app: "{{ .Name }}"
    app.kubernetes.io/instance: "{{ .Name }}"
  annotations:
    argocd.argoproj.io/tracking-id: "{{ .Name }}:hub.mydecisive.ai/MdaiObserver:{{ .Namespace }}/{{ .Name }}"
spec:
  observers:
    - name: observer-logs-in
      telemetry_type: logs
      metrics_backend: prometheus
      aggregation_temporality: cumulative
      labelResourceAttributes:
        - service
      countMetricName: items_received_by_service_total
      bytesMetricName: bytes_received_by_service_total
      filter:
        error_mode: ignore
        logs:
          log_record:
            - 'resource.attributes["observer_direction"] != "received"'
    - name: observer-logs-out
      telemetry_type: logs
      metrics_backend: prometheus
      aggregation_temporality: cumulative
      labelResourceAttributes:
        - service
      countMetricName: items_sent_by_service_total
      bytesMetricName: bytes_sent_by_service_total
      filter:
        error_mode: ignore
        logs:
          log_record:
            - 'resource.attributes["observer_direction"] != "exported"'
    - name: received_span_count
      telemetry_type: traces
      metrics_backend: greptimedb
      aggregation_temporality: delta
      labelResourceAttributes:
        - span_name
        - span_service
      countMetricName: received_span_count
      filter:
        error_mode: ignore
        traces:
          span:
            - 'resource.attributes["observer_direction"] != "received"'
    - name: received_span_root_count
      telemetry_type: traces
      metrics_backend: greptimedb
      aggregation_temporality: delta
      labelResourceAttributes:
        - span_name
        - span_service
      countMetricName: received_span_root_count
      filter:
        error_mode: ignore
        traces:
          span:
            - 'resource.attributes["observer_direction"] != "received"'
            - 'IsRootSpan() != true'
    - name: sent_span_count
      telemetry_type: traces
      metrics_backend: greptimedb
      aggregation_temporality: delta
      labelResourceAttributes:
        - span_name
        - span_service
      countMetricName: sent_span_count
      filter:
        error_mode: ignore
        traces:
          span:
            - 'resource.attributes["observer_direction"] != "exported"'
    - name: sent_span_root_count
      telemetry_type: traces
      metrics_backend: greptimedb
      aggregation_temporality: delta
      labelResourceAttributes:
        - span_name
        - span_service
      countMetricName: sent_span_root_count
      filter:
        error_mode: ignore
        traces:
          span:
            - 'IsRootSpan() != true'
            - 'resource.attributes["observer_direction"] != "exported"'

  observerResource:
    image: public.ecr.aws/decisiveai/observer-collector:0.1.7
    replicas: 2
    resources:
      limits:
        memory: "512Mi"
        cpu: "200m"
      requests:
        memory: "128Mi"
        cpu: "100m"