apiVersion: hub.mydecisive.ai/v1
kind: MdaiObserver
metadata:
  name: "{{ .Name }}"
  namespace: "{{ .Namespace }}"
  labels:
    app: "{{ .Name }}"
    app.kubernetes.io/instance: "{{ .Name }}"
  annotations:
    argocd.argoproj.io/tracking-id: "{{ .Name }}:hub.mydecisive.ai/MdaiObserver:{{ .Namespace }}/{{ .Name }}"
spec:
  observers:
    - name: observer-in
      labelResourceAttributes:
        - service
      countMetricName: items_received_by_service_total
      bytesMetricName: bytes_received_by_service_total
      filter:
        error_mode: ignore
        logs:
          log_record:
            - 'resource.attributes["observer_direction"] != "received"'
    - name: observer-out
      labelResourceAttributes:
        - service
      countMetricName: items_sent_by_service_total
      bytesMetricName: bytes_sent_by_service_total
      filter:
        error_mode: ignore
        logs:
          log_record:
            - 'resource.attributes["observer_direction"] != "exported"'

  observerResource:
    image: public.ecr.aws/decisiveai/observer-collector:0.1.6
    replicas: 2
    resources:
      limits:
        memory: "512Mi"
        cpu: "200m"
      requests:
        memory: "128Mi"
        cpu: "100m"