apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: {{ .Name }}-sampling-lb
  namespace: {{ .Namespace }}
  labels:
    app: {{ .Name }}
    app.kubernetes.io/instance: {{ .Name }}
    hub.mydecisive.ai/role: connection-collector
  annotations:
    argocd.argoproj.io/tracking-id: "{{ .Name }}:opentelemetry.io/OpenTelemetryCollector:{{ .Namespace }}/{{ .Name }}-sampling-lb"
    argocd.argoproj.io/sync-wave: "1"
spec:
  image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib:0.148.0
  observability:
    metrics:
      enableMetrics: true
  replicas: 1
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
  config:
    receivers:
      datadog:
        endpoint: 0.0.0.0:8126
        read_timeout: 60s
    processors:
      deltatocumulative: {}
      transform/add_dd_fields:
        error_mode: ignore
        trace_statements:
          - statements:
              - set(span.attributes["span_name"], "unknown")
              - set(span.attributes["span_name"], span.span_id.string) where span.span_id != nil
              - set(span.attributes["span_name"], span.name) where span.name != nil
              - set(span.attributes["span_name"], span.attributes["dd.span.Resource"]) where span.attributes["dd.span.Resource"] != nil
              - set(span.attributes["span_service"], "unknown")
              - set(span.attributes["span_service"], resource.attributes["service.name"]) where resource.attributes["service.name"] != nil
          - context: resource
            statements:
              - set(attributes["datadog.host.name"], attributes["host.name"]) where attributes["host.name"] != nil
              - set(attributes["datadog.host.name"], attributes["hostname"]) where attributes["hostname"] != nil
        log_statements:
          - context: log
            statements:
              - set(attributes["datadog.host.name"], attributes["host.name"]) where attributes["host.name"] != nil
              - set(attributes["datadog.host.name"], attributes["hostname"]) where attributes["hostname"] != nil
              - set(attributes["service"], "unknown") where attributes["service"] == nil
              - set(attributes["service"], attributes["service.name"]) where attributes["service.name"] != nil
              - set(attributes["service"], attributes["servicename"]) where attributes["servicename"] != nil
          - context: log
            statements:
              - merge_maps(attributes, ParseJSON(body), "upsert") where IsString(body) and IsMatch(body, "^\\s*\\{.*\\}\\s*$")
              - set(body, attributes["message"]) where IsString(attributes["message"])

              # convert timestamp attribute
              - set(time, Time(attributes["timestamp"], "2006-01-02T15:04:05Z")) where IsString(attributes["timestamp"])
              - set(time, Unix(attributes["timestamp"], 0)) where IsInt(attributes["timestamp"]) and attributes["timestamp"] < 20000000000
              - set(time, Unix(0, attributes["timestamp"] * 1000000)) where IsInt(attributes["timestamp"]) and attributes["timestamp"] >= 20000000000
              - set(time, Unix(Int(attributes["timestamp"]), 0)) where IsDouble(attributes["timestamp"]) and attributes["timestamp"] < 20000000000.0
              - set(time, Unix(0, Int(attributes["timestamp"]) * 1000000)) where IsDouble(attributes["timestamp"]) and attributes["timestamp"] >= 20000000000.0

              # convert severity attribute
              - set(severity_text, attributes["level"]) where attributes["level"] != nil
              - set(severity_number, SEVERITY_NUMBER_DEBUG) where attributes["level"] == "debug"
              - set(severity_number, SEVERITY_NUMBER_INFO) where attributes["level"] == "info"
              - set(severity_number, SEVERITY_NUMBER_WARN) where attributes["level"] == "warn" or attributes["level"] == "warning"
              - set(severity_number, SEVERITY_NUMBER_ERROR) where attributes["level"] == "error"
              - set(severity_number, SEVERITY_NUMBER_FATAL) where attributes["level"] == "fatal"
              - set(severity_text, attributes["status"]) where attributes["status"] != nil
              - set(severity_number, SEVERITY_NUMBER_DEBUG) where attributes["status"] == "debug"
              - set(severity_number, SEVERITY_NUMBER_INFO) where attributes["status"] == "info"
              - set(severity_number, SEVERITY_NUMBER_WARN) where attributes["status"] == "warn" or attributes["status"] == "warning"
              - set(severity_number, SEVERITY_NUMBER_ERROR) where attributes["status"] == "error"
              - set(severity_number, SEVERITY_NUMBER_FATAL) where attributes["status"] == "fatal"

              # remove converted fields
              - delete_key(attributes, "message")
              - delete_key(attributes, "timestamp")
    exporters:
      otlp_grpc/tracealyzer:
        endpoint: mdai-tracealyzer.{{ .Namespace }}.svc.cluster.local:4317
        tls:
          insecure: true
      loadbalancing/traces:
        routing_key: traceID
        protocol:
          otlp:
            tls:
              insecure: true
            timeout: 5s
            retry_on_failure:
              enabled: true
              initial_interval: 1s
              max_interval: 10s
            sending_queue:
              enabled: true
              num_consumers: 4
              queue_size: 1000
        resolver:
          dns:
            hostname: {{ .Name }}-trace-sampling-collector.{{ .Namespace }}.svc.cluster.local
            port: "4317"
            interval: 10s
            timeout: 5s
      loadbalancing/logs:
        routing_key: service
        protocol:
          otlp:
            tls:
              insecure: true
            timeout: 5s
            retry_on_failure:
              enabled: true
              initial_interval: 1s
              max_interval: 10s
            sending_queue:
              enabled: true
              num_consumers: 4
              queue_size: 1000
        resolver:
          dns:
            hostname: {{ .Name }}-log-sampling-collector.{{ .Namespace }}.svc.cluster.local
            port: "4317"
            interval: 10s
            timeout: 5s
      prometheus:
        endpoint: "0.0.0.0:8899"
        metric_expiration: 180m
        resource_to_telemetry_conversion:
          enabled: true
    connectors:
      count/spans_by_facet:
        spans:
          received_span_count:
            description: Received total span count by service (all spans).
            attributes:
              - key: span_name
              - key: span_service
          received_span_root_count:
            description: Received root span count by service.
            attributes:
              - key: span_name
              - key: span_service
            conditions:
              - 'IsRootSpan()'
    extensions:
      health_check:
        endpoint: 0.0.0.0:13133
      zpages:
        endpoint: 0.0.0.0:55679
    service:
      extensions: [health_check, zpages]
      pipelines:
        {{- range .TelemetryTypes }}
          {{- if eq . "logs" }}
          logs:
            receivers: [datadog]
            processors: [transform/add_dd_fields]
            exporters: [loadbalancing/logs]
          {{- else if eq . "traces" }}
          traces:
            receivers: [datadog]
            processors: [transform/add_dd_fields]
            exporters: [loadbalancing/traces, count/spans_by_facet, otlp_grpc/tracealyzer]
          metrics:
            receivers: [count/spans_by_facet]
            processors: [deltatocumulative]
            exporters: [prometheus]
          {{- end }}
        {{- end }}
      telemetry:
        resource:
          mdai_connection: "{{ .Name }}"
          service.name: "{{ .Name }}-sampling-lb-collector"
        metrics:
          readers:
            - pull:
                exporter:
                  prometheus:
                    host: "0.0.0.0"
                    port: 8888
                    with_resource_constant_labels:
                      included:
                        - mdai_connection
                        - service.name