apiVersion: hub.mydecisive.ai/v1
kind: MdaiHub
metadata:
  name: "{{ .Name }}"
  namespace: "{{ .Namespace }}"
  labels:
    app: "{{ .Name }}"
    app.kubernetes.io/instance: "{{ .Name }}"
  annotations:
    argocd.argoproj.io/tracking-id: "{{ .Name }}:hub.mydecisive.ai/MdaiHub:{{ .Namespace }}/{{ .Name }}"
spec:
  variables:
    - key: logs_ratio_number
      type: manual
      dataType: string
      default: "{{ .DefaultLogRatio }}"
      serializeAs:
        - name: "LOGS_RATIO_NUMBER"
    - key: logs_persist_errors
      type: manual
      dataType: boolean
      default: {{ .DefaultLogPersistErr }}
      serializeAs:
        - name: "LOGS_PERSIST_ERRORS"
    - key: traces_ratio_number
      type: manual
      dataType: string
      default: "{{ .DefaultTraceRatio }}"
      serializeAs:
        - name: "TRACES_RATIO_NUMBER"
    - key: traces_persist_errors
      type: manual
      dataType: boolean
      default: {{ .DefaultTracePersistErr }}
      serializeAs:
        - name: "TRACES_PERSIST_ERRORS"

