apiVersion: v1
kind: Secret
metadata:
  name: {{ .Name }}-integration-secret
  namespace: {{ .Namespace }}
  labels:
    app: {{ .Name }}-integration-secret
    app.kubernetes.io/instance: {{ .Name }}-integration-secret
  annotations:
    argocd.argoproj.io/tracking-id: "{{ .Name }}:/Secret:{{ .Namespace }}/{{ .Name }}-integration-secret"
    argocd.argoproj.io/sync-wave: "-1"
type: Opaque
stringData:
  {{- if .DatadogIntegrationData }}
  api-key: {{ .DatadogIntegrationData.APIKey }}
  site-url: {{ .DatadogIntegrationData.DDUrl }}
  {{- end }}