apiVersion: hub.mydecisive.ai/v1
kind: TelemetryValidation
metadata:
  name: {{ .Name }}-telemetry-validation
  namespace: {{ .Namespace }}
  annotations:
    argocd.argoproj.io/tracking-id: {{ .Name }}:hub.mydecisive.ai/v1:mdai/{{ .Name }}-validator
spec:
  validator:
    image: ghcr.io/mydecisive/mdai-fidelity-validator:{{ .Version }}
  runID: {{ .RunID }}
  collectorRef:
    name: {{ .Name }}-sampling-lb